@model WebApp.Models.Message

@{
    ViewData["Title"] = "Το Μήνυμά σου";
}

<h2>Το Μήνυμά σου</h2>

<p><strong>Τίτλος:</strong> @Model.Title</p>
<p><strong>Περιεχόμενο:</strong> @Model.Content</p>

<a href="/">↩ Επιστροφή</a>
